@import '../../assets/styles/variables';

$modal-header-height: 40px;

.profile-card,
.profile-card.modal-dialog {
    width: 100%;
    border-radius: 8px;
    background-color: $white;

    .profile-card-avatar {
        width: 64px;
        height: 64px;
        min-height: 64px;
        min-width: 64px;
    }

    .avatar-component-wrapper{
        .initials {
            font-size: 32px;
        }
    }

    @media only screen and (max-width: $--breakpoints-sm) {
        button.card-button-container.btn.btn-primary {
            min-width: 100%;
        }
    }

    @include box-shadow-profile-card();

    .modal-content {
        gap: 24px;

        .modal-title {
            font-family: $--poppins-bold;
            color: $headings;
            font-weight: 700;
            font-size: 24px;
            line-height: 34px;
            padding: unset;
            text-align: left;

            @media only screen and (max-width: 400px) {
                font-size: 22px;
            }
        }

        .modal-body {
            display: flex;
            flex-direction: column;
            gap: 24px;

            p {
                padding-bottom: 0;

                &.card-content-text {
                    word-wrap: break-word;
                    text-align: left;
                    width: 100%;
                }
            }

            .content-row {
                width: 100%;

                .content-col {
                    gap: 16px;

                    .card-content-text {
                        font-family: $--worksans-regular;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 28px;

                        margin-top: unset;
                        margin-bottom: unset;
                        padding-bottom: 0;
                    }

                    .profile-card-description {
                        gap: 8px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;

                        .name-description {
                            p.profile-card-profile-name {
                                font-family: $--worksans-semibold;
                                font-weight: 600;
                                font-size: 18px;
                                line-height: 24px;
                                letter-spacing: -0.015em;
                                color: $headings;
                                margin-top: unset;
                                margin-bottom: unset;
                                text-align: left;
                                padding-bottom: 0;
                            }
                        }
                        .job-description {
                            p.profile-card-job-description {
                                font-family: $--worksans-medium;
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 24px;
                                color: $body;
                                margin-top: unset;
                                margin-bottom: unset;
                                text-align: left;
                                padding-bottom: 0;
                            }
                        }
                        .username-description {
                            p.profile-card-profile-username {
                                font-family: $--worksans-medium;
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 24px;
                                color: $body;
                                margin-top: unset;
                                margin-bottom: unset;
                                text-align: left;
                                padding-bottom: 0;
                            }
                        }
                        .url-description {
                            p.profile-card-profile-url {
                                font-family: $--worksans-medium;
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 24px;
                                color: $primary;
                                margin-top: unset;
                                margin-bottom: unset;
                                text-align: left;
                                cursor: pointer;
                                padding-bottom: 0;
                            }
                        }
                    }
                }
            }

            .bottom-part {
                gap: 16px;
                width: 100%;

                .not-profile-card-button {
                    width: 100%;
                }

                button.card-button-container.btn.btn-primary {
                    min-width: 100%;
                    padding: 10px 19px;
                    box-shadow: none;

                    &:hover {
                        box-shadow: none;
                    }

                    &.profile-card-button-text {
                        p {
                            line-height: 24px;
                            font-size: 16px;
                            padding-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    &.modal-dialog-centered {
        justify-content: center;
    }

    .radius-16 {
        border-radius: 16px;
    }
}
