@import '../../assets/styles/variables';

button.card-button-container.btn.btn-primary {
    width: fit-content;
    padding: 16px 62px;
    color: $white;
    background-color: $primary;
    border: none;
    border-radius: 8px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
    @include primary();
    @media only screen and (max-width: $--breakpoints-sm) {
        min-width: 276px;
        padding: 16px 33px;
    }
    &:hover {
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 200ms;
        color: $white;
        background-color: $--hover-color;
        @include primary();
    }

    &:active {
        box-shadow: none;
    }

    p.card-button-text {
        color: $white;
        font-family: $--worksans-semibold;
        font-size: 18px;
        font-weight: 600;
        line-height: 30px;

        @media only screen and (max-width: $--breakpoints-sm) {
            font-size: 16px;
            line-height: 24px;
        }
    }
}
