@import '../../../assets/styles/variables';

label.form-label {
    font-family: $--worksans-medium;
    color: $body;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

input {
    box-shadow: none;
}

input.form-control {
    font-family: $--worksans-regular;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    background: $white;
    border-radius: 8px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
    font-family: $--worksans-regular;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: $headings;
    border: 1px solid transparent;
    text-decoration: none;
    @include box-shadow-shadow-sm();
    &::placeholder {
        font-family: $--worksans-regular;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: $body;
    }
    &:hover {
        background: $white;
        border: 1px solid $greyLight-200;
        border-radius: 8px;
        @include box-shadow-shadow-sm();
    }
    &:focus {
        border: 1px solid transparent;
        @include box-shadow-shadow-sm();
    }
    &:active {
        @include box-shadow-shadow-sm();
    }
}
